# Aplicando 5
---
**Aluno**: Victor Teodoro
**RA**: 10414609

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
july_prices = pd.read_csv('precos_glp_07.csv', sep=';')
july_prices.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,PI,TERESINA,J A SILVA MERCADINHO,23.621.717/0002-37,RUA MINISTRO PEDRO BORGES,1560,NaN,TABOLETA,64019-650,GLP,01/07/2022,115,NaN,R$ / 13 kg,NACIONAL GÁS BUTANO
1,CO,GO,GOIANIA,VB FORTE GAS LTDA - ME,37.664.869/0001-40,AVENIDA BARAO DO RIO BRANCO,914,"QD. 66, LT. 07",JARDIM VILA BOA,74360-230,GLP,01/07/2022,125,NaN,R$ / 13 kg,SUPERGASBRAS ENERGIA
2,NE,PI,TERESINA,T DE L N FERREIRA LTDA,05.584.976/0002-53,R IVAN TITO DE OLIVEIRA,2086,SUL,LOURIVAL PARENTE,64023-500,GLP,01/07/2022,115,NaN,R$ / 13 kg,LIQUIGÁS
3,SE,MG,DIVINOPOLIS,VALDINEI SOARES DA SILVA,04.580.941/0001-00,RUA IBIRITÉ,66,NaN,BOM PASTOR,35500-191,GLP,01/07/2022,110,NaN,R$ / 13 kg,SUPERGASBRAS ENERGIA
4,SE,MG,DIVINOPOLIS,DF COMERCIO DE GAS LTDA,04.538.114/0001-40,ALAMEDA RIO PERDIDO,206,NaN,TIETE,35501-179,GLP,01/07/2022,105,NaN,R$ / 13 kg,BRANCA

In [36]:
aug_prices = pd.read_csv('precos_glp_08.csv', sep=';', header=None, names=july_prices.columns)
aug_prices.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,MG,TIMOTEO,SUPERGASBRAS ENERGIA LTDA.,19.791.896/0140-71,RODOVIA BR-381,S/N.º,KM 195,NUCLEO INDUSTRIAL,35180-001,GLP,01/08/2022,110,NaN,R$ / 13 kg,SUPERGASBRAS ENERGIA
1,SE,SP,SAO VICENTE,CONSIGAZ DISTRIBUIDORA DE GÁS LTDA.,01.597.589/0003-81,RUA MANOEL DE ABREU,790,QUADRA 108,CIDADE NAUTICA,11355-400,GLP,01/08/2022,"106,99",NaN,R$ / 13 kg,CONSIGAZ
2,N,AM,ITACOATIARA,MARCOS ANTONIO DA SILVA CABRAL,03.019.535/0005-26,RUA BEIJA-FLOR,2501,NaN,SÃO FRANCISCO,69100-000,GLP,01/08/2022,135,NaN,R$ / 13 kg,FOGAS
3,N,AM,ITACOATIARA,EMAQUISON DOS SANTOS FERREIRA,04.280.081/0001-81,AVENIDA TORQUATO TAPAJOS,1887,NaN,PEDREIRAS,69100-000,GLP,01/08/2022,130,NaN,R$ / 13 kg,FOGAS
4,SE,MG,JOAO PINHEIRO,SAYONARA COMERCIO DE PETROLEO LTDA,23.761.448/0001-23,RODOVIA MARGENS RODOVIA BR 040 KM 143,SN,NaN,CENTRO,38770-000,GLP,01/08/2022,130,NaN,R$ / 13 kg,BRANCA

In [37]:
july_prices.sort_values(by='Data da Coleta', ascending=True, inplace=True)

july_prices = july_prices.drop_duplicates(subset=['CNPJ da Revenda'], keep='last')

In [38]:
aug_prices.sort_values(by='Data da Coleta', ascending=True, inplace=True)

aug_prices = july_prices.drop_duplicates(subset=['CNPJ da Revenda'], keep='last')

In [44]:
july_prices.loc[july_prices['CNPJ da Revenda'] == '19.791.896/0140-71']

Empty DataFrame
Columns: [Regiao - Sigla, Estado - Sigla, Municipio, Revenda, CNPJ da Revenda, Nome da Rua, Numero Rua, Complemento, Bairro, Cep, Produto, Data da Coleta, Valor de Venda, Valor de Compra, Unidade de Medida, Bandeira]
Index: []

In [39]:
prices = pd.merge(july_prices, aug_prices[['CNPJ da Revenda', 'Valor de Venda']], how='inner', on='CNPJ da Revenda', suffixes=[' Jul', ' Aug'])
prices.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda Jul,Valor de Compra,Unidade de Medida,Bandeira,Valor de Venda Aug
0,SE,SP,BARUERI,SÉRGIO MOISES DAVIDIAN GÁS ME.,08.776.470/0001-53,RUA IPANEMA,39,NaN,JARDIM MARIA HELENA,06445-100,GLP,01/07/2022,122,NaN,R$ / 13 kg,BRANCA,122
1,SE,MG,SABARA,MARY DA SILVA PIMENTA 83899200691,15.255.740/0001-46,RUA OLIMPUS,21,NaN,ANA LUCIA,34710-110,GLP,04/07/2022,108,NaN,R$ / 13 kg,NGC DISTRIBUIDORA,108
2,NE,PE,PAULISTA,LEIDSON DA SILVA CAVALSCANTE - ME,17.332.145/0001-92,RUA AGAMENON MAGALHAES,33,QUADRA C-11 - LOTE 45,ENGENHO MARANGUAPE,53423-440,GLP,04/07/2022,100,NaN,R$ / 13 kg,MINASGAS,100
3,CO,GO,ITUMBIARA,J PASSOS COMERCIO DE GAS LTDA - ME,20.828.673/0001-41,RUA ITARUMA,1109,NaN,SETOR NOVO HORIZONTE,75532-240,GLP,04/07/2022,130,NaN,R$ / 13 kg,ULTRAGAZ,130
4,SE,MG,FRUTAL,FRANCISCA SONIA DE FIGUEIREDO NEVES,02.565.433/0003-81,RUA TUPIS,618,COMERCIO,XV DE NOVEMBRO,38200-000,GLP,04/07/2022,110,NaN,R$ / 13 kg,SUPERGASBRAS ENERGIA,110

In [29]:
prices['Valor de Venda Jul'] = prices['Valor de Venda Jul'].str.replace(',', '.')
prices['Valor de Venda Jul'].astype(float).mean()

112.71676566630384

In [30]:
prices['Valor de Venda Aug'] = prices['Valor de Venda Aug'].str.replace(',', '.')
prices['Valor de Venda Aug'].astype(float).mean()

112.71676566630384

In [32]:
prices['Valor de Venda Jul'] = prices['Valor de Venda Jul'].astype(float)
prices['Valor de Venda Aug'] = prices['Valor de Venda Aug'].astype(float)

prices['Valor de Venda Jul'].loc[prices['Regiao - Sigla'] == 'CO'].mean()

118.6318887262079

In [33]:
prices['Valor de Venda Jul'].loc[prices['Bandeira'] == 'MINASGAS'].mean()

105.83581081081081

In [34]:
(prices['Valor de Venda Jul'].mean() - prices['Valor de Venda Aug'].mean()) / prices['Valor de Venda Jul'].mean()

0.0

In [45]:
cost_of_living = pd.read_csv('costofliving.csv')
cost_of_living.head()

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,NaN,"Hamilton, Bermuda",149.02,96.10,124.22,157.89,155.22,79.43
1,NaN,"Zurich, Switzerland",131.24,69.26,102.19,136.14,132.52,129.79
2,NaN,"Basel, Switzerland",130.93,49.38,92.70,137.07,130.95,111.53
3,NaN,"Zug, Switzerland",128.13,72.12,101.87,132.61,130.93,143.40
4,NaN,"Lugano, Switzerland",123.99,44.99,86.96,129.17,119.80,111.96

In [47]:
cost_of_living = cost_of_living.select_dtypes(include=['number'])
cost_of_living = cost_of_living.drop(columns=['Rank'])
cost_of_living.head()

,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,149.02,96.10,124.22,157.89,155.22,79.43
1,131.24,69.26,102.19,136.14,132.52,129.79
2,130.93,49.38,92.70,137.07,130.95,111.53
3,128.13,72.12,101.87,132.61,130.93,143.40
4,123.99,44.99,86.96,129.17,119.80,111.96

In [49]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler().set_output(transform='pandas')
cost_of_living_scaled = scaler.fit_transform(cost_of_living)

cost_of_living_scaled['Cost of Living Index'].mean()

0.2988529890470519

In [50]:
cost_of_living_scaled['Groceries Index'].median()

0.26294946379757483

In [51]:
cost_of_living_scaled['Local Purchasing Power Index'].std()

0.19961592161384753

In [ ]:
stores = pd.read_csv('stores')